/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .comp-footer-01 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .comp-footer-01 > .c-wrapper {
    width: 100%;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 {
    height: 121px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(217, 217, 217, 0.2196078431);
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > .c-item-01 {
    padding: 0 12px 0 23px;
    display: flex;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > .c-item-01::after {
    content: "";
    width: 1px;
    height: 120px;
    position: absolute;
    right: 0;
    top: -49px;
    bottom: 0;
    background-color: rgba(217, 217, 217, 0.2196078431);
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > .c-item-01 > a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > .c-item-01 > a:not(:last-child) {
    margin-right: 15px;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > #scroll-animation {
    width: 100%;
    align-items: center;
    display: flex;
    overflow: hidden;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > #scroll-animation .scroll-animation_area .scroll-animation_area__ {
    transition: all 1s ease;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > #scroll-animation .scroll-animation_area .scroll-animation_area__ > .c-unit-01 {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    font-size: 2.9333333333em;
    line-height: 53px;
    color: #FFFFFF;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > #scroll-animation .scroll-animation_area .scroll-animation_area__ > .c-unit-01 > .scroll-01 {
    display: flex;
    align-items: center;
    animation: marquee 25s linear infinite;
    transform: translateX(100%);
  }
  @keyframes marquee {
    to {
      transform: translateX(-100%);
    }
  }
}
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .comp-footer-01 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .comp-footer-01 > .c-wrapper {
    width: 100%;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 {
    height: 121px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(217, 217, 217, 0.2196078431);
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > .c-item-01 {
    padding: 0 12px 0 23px;
    display: flex;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > .c-item-01::after {
    content: "";
    width: 1px;
    height: 120px;
    position: absolute;
    right: 0;
    top: -49px;
    bottom: 0;
    background-color: rgba(217, 217, 217, 0.2196078431);
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > .c-item-01 > a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > .c-item-01 > a:not(:last-child) {
    margin-right: 15px;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > #scroll-animation {
    width: 100%;
    align-items: center;
    display: flex;
    overflow: hidden;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > #scroll-animation .scroll-animation_area .scroll-animation_area__ {
    transition: all 1s ease;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > #scroll-animation .scroll-animation_area .scroll-animation_area__ > .c-unit-01 {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    font-size: 2.9333333333em;
    line-height: 53px;
    color: #FFFFFF;
  }
  .comp-footer-01 > .c-wrapper > .c-container-01 > #scroll-animation .scroll-animation_area .scroll-animation_area__ > .c-unit-01 > .scroll-01 {
    animation: marquee 35s linear infinite;
    transform: translateX(100%);
    display: flex;
    align-items: center;
  }
  @keyframes marquee {
    to {
      transform: translateX(-100%);
    }
  }
}

/*# sourceMappingURL=Footer.css.map */
