[data-expand] {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -moz-transition: height 0.4s ease-in-out, opacity 0.3s;
  -o-transition: height 0.4s ease-in-out, opacity 0.3s;
  -webkit-transition: height 0.4s ease-in-out, opacity 0.3s;
  transition: height 0.4s ease-in-out, opacity 0.3s;
}
[data-expand].on {
  opacity: 1;
  -moz-transition: height 0.4s ease-in-out, opacity 1s;
  -o-transition: height 0.4s ease-in-out, opacity 1s;
  -webkit-transition: height 0.4s ease-in-out, opacity 1s;
  transition: height 0.4s ease-in-out, opacity 1s;
}
[data-expand].init-on {
  opacity: 1;
  height: auto;
}

#contentContainer #expandedContentContainer {
  display: none;
}
#contentContainer #shrinkContentBtn {
  display: none;
}
#contentContainer.on #expandedContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contentContainer.on #shrinkContentBtn {
  display: block;
}
#contentContainer.on #expandContentBtn {
  display: none;
}

@media all and (max-width: 767px) {
  .bottom-to-top-animate-container {
    height: 41px;
    width: 100%;
    padding-right: 16px;
    overflow: hidden;
  }
  .bottom-to-top-animate-container [data-bottom-to-top-animate] {
    height: 41px;
    position: absolute;
    transform: translateY(42px);
    -moz-transition: transform 0s;
    -o-transition: transform 0s;
    -webkit-transition: transform 0s;
    transition: transform 0s;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: flex;
    align-items: center;
  }
  .bottom-to-top-animate-container [data-bottom-to-top-animate].active {
    transform: translateY(0);
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
  }
  .bottom-to-top-animate-container [data-bottom-to-top-animate].up {
    transform: translateY(-42px);
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
  }
}
@media all and (min-width: 768px) {
  .bottom-to-top-animate-container {
    height: 21px;
    width: 100%;
    padding-right: 16px;
    overflow: hidden;
  }
  .bottom-to-top-animate-container [data-bottom-to-top-animate] {
    position: absolute;
    transform: translateY(22px);
    -moz-transition: transform 0s;
    -o-transition: transform 0s;
    -webkit-transition: transform 0s;
    transition: transform 0s;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  .bottom-to-top-animate-container [data-bottom-to-top-animate].active {
    transform: translateY(0);
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
  }
  .bottom-to-top-animate-container [data-bottom-to-top-animate].up {
    transform: translateY(-22px);
    -moz-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
  }
}

/*# sourceMappingURL=Misc.css.map */
