@import "../../Base/Colour.scss";
@import "../../Base/Global.scss";


/* Common xs1, xs2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .section-07 {
        padding: 40px 0 206px 0;
        background: #F7F2DE;

        > .c-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .c-container-01 {
                position: sticky;
                top: 0;

                > .c-item-01 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 39px;
                    width: 369px;
                    height: 208.58px;
                    text-transform: uppercase;
                }

                > .c-item-02 {
                    font-weight: 900;
                    font-size: 37px;
                    line-height: 45px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #000000;
                }
            }

            .c-container {
                overflow: hidden;

                .c-container-02 {
                    width: 100vw;

                    .c-item-01 {
                        height: 520px;
                        margin-bottom: 672px;
                        width: 72%;

                        > .c-unit-01 {
                        }
                    }

                    .c-item-03 {
                        height: 478.99px;
                        width: 78%;

                        .c-unit-01 {
                        }

                        .c-unit-02 {
                            display: none;
                        }

                        .c-unit-03 {
                            position: absolute;
                            right: -39%;
                            bottom: -28%;

                            > svg {
                                height: 298px;
                            }
                        }
                    }
                }

                .c-container-03 {
                    margin-top: -1106px;
                    display: flex;
                    flex-direction: column;
                    align-items: end;

                    .c-item-02 {
                        height: 520px;
                        margin-bottom: 743px;
                        width: 80%;

                        .c-unit-01 {
                        }

                        .c-unit-02 {
                            display: none;
                        }

                        .c-unit-03 {
                            position: absolute;
                            bottom: -45%;
                            left: -36%;
                        }
                    }

                    .c-item-04 {
                        height: 520px;
                        width: 89%;

                        .c-unit-02 {
                            position: absolute;
                            bottom: -105px;
                            left: -71px;

                            > svg {
                                max-width: 350px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
    .section-07 {
        padding: 207px 0 120px 0;
        background: #F7F2DE;
        > .c-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 1600px;

            .c-container-01 {
                position: sticky;
                top: 145px;

                > .c-item-01 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 39px;
                }

                > .c-item-02 {
                    width: 645px;
                    font-weight: 900;
                    font-size: 58px;
                    line-height: 70px;
                    text-align: center;
                    color: #000000;
                    text-transform: uppercase;
                }
            }

            .c-container {
                display: flex;

                .c-container-02 {
                    width: 100%;

                    .c-item-01 {
                        width: 520px;
                        height: 520px;
                        margin-bottom: 129px;
                    }

                    .c-item-03 {
                        width: 520px;
                        height: 520px;
                        margin-left: 251px;

                        .c-unit-01 {
                            width: 520px;
                            height: 520px;
                        }

                        .c-unit-02 {
                            position: absolute;
                            left: -161px;
                            bottom: -263px;
                        }

                        .c-unit-03 {
                            display: none;
                        }
                    }
                }

                .c-container-03 {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    justify-content: flex-end;
                    margin-top: 293px;

                    .c-item-02 {
                        width: 520px;
                        height: 737px;
                        margin-bottom: 204px;

                        .c-unit-01 {
                            width: 520px;
                            height: 737px;
                        }

                        .c-unit-02 {
                            position: absolute;
                            right: 367px;
                            bottom: -205px;
                        }

                        .c-unit-03 {
                            display: none;
                        }
                    }

                    .c-item-04 {
                        .c-unit-01 {
                            width: 666px;
                            height: 520px;
                        }

                        .c-unit-02 {
                            position: absolute;
                            right: -174px;
                            bottom: 3px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width: #{$mq-sm1 + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
    .section-07{
        > .c-wrapper{
            width:704px;
        }
    }
}
