/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .section-02 {
    padding-top: 1px;
    padding-bottom: 58px;
    background: #FAFAFA;
  }
  .section-02 > .c-wrapper {
    margin-top: -20px;
  }
  .section-02 > .c-wrapper .c-container-01 {
    margin-bottom: 10px;
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01 {
    width: 100%;
    height: 85px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    display: flex;
    padding: 20px 0 20px 27px;
    align-items: center;
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01:not(:last-child) {
    margin-bottom: 10px;
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01 .c-unit-01 {
    display: block;
    width: 52px;
    height: 45px;
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01 .c-unit-02 {
    display: none;
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01 .c-unit-03 {
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;
    color: #0052C3;
    margin-left: 32px;
  }
  .section-02 > .c-wrapper .c-container-02 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .section-02 > .c-wrapper .c-container-02 > .c-item-01 {
    width: calc(50% - 6.5px);
    height: 148.83px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.066734);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .section-02 > .c-wrapper .c-container-02 > .c-item-01 .c-unit-01 {
    display: block;
  }
  .section-02 > .c-wrapper .c-container-02 > .c-item-01 .c-unit-02 {
    display: none;
  }
  .section-02 > .c-wrapper .c-container-02 > .c-item-01 .c-unit-03 {
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;
    color: #0052C3;
    margin-top: 18px;
  }
}
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-02 {
    margin-top: -18px;
    background: #FAFAFA;
    padding-bottom: 5px;
  }
  .section-02 > .c-wrapper {
    display: flex;
  }
  .section-02 > .c-wrapper .c-container-01 {
    display: flex;
    margin-top: -18px;
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01 {
    width: 157px;
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.066734);
    border-radius: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: background-color 0.3s ease-out;
    padding-bottom: 20px;
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01 .c-unit-01 {
    opacity: 1;
    position: absolute;
    top: calc(50% - 32.5px);
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01 .c-unit-02 {
    opacity: 0;
    position: absolute;
    top: calc(50% - 32.5px);
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01 .c-unit-03 {
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;
    color: #0052C3;
    margin-top: 18px;
    transition: color 0.3s ease-out;
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01:hover {
    background-color: #0052C3;
    transition: background 0.3s;
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01:hover .c-unit-01 {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01:hover .c-unit-02 {
    opacity: 1;
    transition: opacity 0.3s;
  }
  .section-02 > .c-wrapper .c-container-01 .c-item-01:hover .c-unit-03 {
    color: #FFF;
  }
  .section-02 .c-container-02 {
    display: flex;
    margin-top: -18px;
  }
  .section-02 .c-container-02 .c-item-01 {
    width: 157px;
    height: 130px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.066734);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: background-color 0.3s ease-out;
    padding-bottom: 20px;
  }
  .section-02 .c-container-02 .c-item-01:not(:last-child) {
    margin-right: 20px;
  }
  .section-02 .c-container-02 .c-item-01 .c-unit-01 {
    opacity: 1;
    position: absolute;
    top: calc(50% - 32.5px);
  }
  .section-02 .c-container-02 .c-item-01 .c-unit-02 {
    opacity: 0;
    position: absolute;
    top: calc(50% - 32.5px);
  }
  .section-02 .c-container-02 .c-item-01 .c-unit-03 {
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;
    color: #0052C3;
    margin-top: 18px;
    transition: color 0.3s ease-out;
  }
  .section-02 .c-container-02 .c-item-01:hover {
    background-color: #0052C3;
    transition: background 0.3s;
  }
  .section-02 .c-container-02 .c-item-01:hover .c-unit-01 {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .section-02 .c-container-02 .c-item-01:hover .c-unit-02 {
    opacity: 1;
    transition: opacity 0.3s;
  }
  .section-02 .c-container-02 .c-item-01:hover .c-unit-03 {
    color: #FFF;
    transition: color 0.2s;
  }
}

/*# sourceMappingURL=02.css.map */
