/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .section-04 {
    padding: 38px 0 19px 0;
    background: linear-gradient(90deg, #EAF3FF 0%, rgba(234, 243, 255, 0) 100%);
    margin-bottom: 25px;
  }
  .section-04 > .c-wrapper {
    display: flex;
    flex-direction: column;
  }
  .section-04 > .c-wrapper .c-container-01 {
    order: 2;
    margin-bottom: 45px;
    padding: 0 8px;
  }
  .section-04 > .c-wrapper .c-container-01 .c-item-01 {
    height: 216px;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }
  .section-04 > .c-wrapper .c-container-01 .c-item-02 {
    width: 61px;
    height: 61px;
    position: absolute;
    top: -8px;
    left: 0;
    border: 1.5px solid #0052C3;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: transparent;
  }
  .section-04 > .c-wrapper .c-container-01 .c-item-03 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 127px;
    right: 0;
    border: 1.5px solid #37C245;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: transparent;
  }
  .section-04 > .c-wrapper .c-container-01 .c-item-04 {
    font-weight: 600;
    font-size: 1.1764705882em;
    line-height: 24px;
    color: #0052C3;
  }
  .section-04 > .c-wrapper .c-container-01 .c-item-05 {
    font-weight: 400;
    font-size: 0.8823529412em;
    line-height: 18px;
    color: #777D96;
  }
  .section-04 > .c-wrapper .c-container-02 {
    order: 1;
    margin-bottom: 37px;
  }
  .section-04 > .c-wrapper .c-container-02 .c-item-01 {
    font-weight: 400;
    font-size: 1.7647058824em;
    line-height: 36px;
    color: #0052C3;
    margin-bottom: 2px;
    text-align: center;
  }
  .section-04 > .c-wrapper .c-container-02 .c-item-02 {
    font-weight: 400;
    font-size: 0.9411764706em;
    line-height: 19px;
    text-align: center;
    color: #777D96;
  }
  .section-04 > .c-wrapper .c-container-03 {
    order: 3;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 13px;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01 {
    opacity: 0.5;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01 .c-item-01-A {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01 .c-item-01-A > img {
    width: 100%;
    height: 100%;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01 .c-item-01-A .c-unit-02 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32px;
    right: 35px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 50%;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01 .c-item-01-B {
    font-weight: 600;
    font-size: 0.7235294118em;
    line-height: 17px;
    margin-bottom: 3px;
    color: #777D96;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01 .c-item-01-C {
    font-weight: 400;
    font-size: 0.7058823529em;
    line-height: 14px;
    color: #777D96;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01:not(:last-child) {
    margin-right: 15px;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01.active {
    opacity: 1;
  }
}
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-04 {
    background: linear-gradient(90deg, #EAF3FF 0%, rgba(234, 243, 255, 0) 100%);
    padding: 65px 0 40px 0;
    margin-bottom: 76px;
  }
  .section-04 > .c-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 424px;
  }
  .section-04 > .c-wrapper .c-container-01 {
    padding: 14px 15px 0 14px;
    width: 533px;
    margin-right: 29px;
  }
  .section-04 > .c-wrapper .c-container-01 .c-item-01 {
    z-index: 1;
    margin-bottom: 15px;
    width: 503.96px;
    height: 336.75px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }
  .section-04 > .c-wrapper .c-container-01 .c-item-02 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 99px;
    height: 99px;
    border: 2px solid #0052C3;
    border-radius: 10px;
  }
  .section-04 > .c-wrapper .c-container-01 .c-item-03 {
    position: absolute;
    bottom: 54px;
    right: 0;
    background-color: transparent;
    width: 165px;
    height: 165px;
    border: 2px solid #37C245;
    border-radius: 20px;
  }
  .section-04 > .c-wrapper .c-container-01 .c-item-04 {
    font-weight: 600;
    font-size: 1.7647058824em;
    line-height: 36px;
    color: #0052C3;
  }
  .section-04 > .c-wrapper .c-container-01 .c-item-05 {
    font-weight: 400;
    font-size: 0.8823529412em;
    line-height: 18px;
    color: #777D96;
  }
  .section-04 > .c-wrapper .c-container-02 {
    margin-top: 20px;
    margin-bottom: 61px;
  }
  .section-04 > .c-wrapper .c-container-02 .c-item-01 {
    font-weight: 400;
    font-size: 2.0588235294em;
    line-height: 42px;
    color: #0052C3;
    margin-bottom: 16px;
  }
  .section-04 > .c-wrapper .c-container-02 .c-item-02 {
    font-weight: 400;
    font-size: 1.0588235294em;
    line-height: 22px;
    color: #777D96;
    height: 71px;
    width: 529px;
  }
  .section-04 > .c-wrapper .c-container-03 {
    display: flex;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01 {
    height: 156px;
    width: 105px;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01 .c-item-01-A {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    opacity: 0.5;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01 .c-item-01-A > img {
    width: 100%;
    height: 100%;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01 .c-item-01-A .c-unit-02 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32px;
    right: 35px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 50%;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01 .c-item-01-B {
    font-weight: 600;
    font-size: 0.8235294118em;
    line-height: 17px;
    color: #777D96;
    margin-bottom: 3px;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01 .c-item-01-C {
    font-weight: 400;
    font-size: 0.7058823529em;
    line-height: 14px;
    color: #777D96;
    height: 28px;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01:not(:last-child) {
    margin-right: 15px;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01.active {
    transition: opacity 0.3s linear 2s;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01.active .c-item-01-A {
    opacity: 1;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01.active .c-item-01-A .c-unit-02 {
    display: none;
  }
  .section-04 > .c-wrapper .c-container-03 .c-item-01.active .c-item-01-B {
    color: #0052C3;
  }
}

/*# sourceMappingURL=04.css.map */
