/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .section-06 {
    margin-bottom: 81px;
  }
  .section-06 > .c-wrapper > .c-unit-01 > h6 {
    font-weight: 400;
    font-size: 1.0588235294em;
    line-height: 22px;
    color: #777D96;
    text-align: center;
    margin-bottom: 26px;
  }
  .section-06 > .c-wrapper > .c-unit-02 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-021 {
    display: flex;
    align-items: center;
    margin-right: 14px;
    color: #0052C3;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-021 .c-unit-021-A {
    font-weight: 400;
    font-size: 0.9411764706em;
    line-height: 19px;
    color: #0052C3;
    margin-right: 7px;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-021 .c-unit-021-B {
    margin-right: 9px;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-021 .c-unit-021-C {
    font-weight: 400;
    font-size: 0.9411764706em;
    line-height: 19px;
    color: #0052C3;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-022 {
    display: flex;
    align-items: center;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-022 > .c-unit-022-A {
    background: #37C245;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50%;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-022 > .c-unit-022-B {
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;
    color: #777D96;
  }
}
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-06 {
    margin-bottom: 108px;
  }
  .section-06 > .c-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .section-06 > .c-wrapper > .c-unit-01 > h6 {
    font-weight: 400;
    font-size: 1.0588235294em;
    line-height: 22px;
    color: #777D96;
    text-align: center;
    margin-bottom: 19px;
  }
  .section-06 > .c-wrapper > .c-unit-02 {
    display: flex;
    align-items: center;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-021 {
    display: flex;
    align-items: center;
    margin-right: 16px;
    color: #0052C3;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-021 .c-unit-021-A {
    font-weight: 400;
    font-size: 1.1764705882em;
    line-height: 24px;
    color: #0052C3;
    margin-right: 7px;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-021 .c-unit-021-B {
    margin-right: 9px;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-021 .c-unit-021-C {
    font-weight: 400;
    font-size: 1.1764705882em;
    line-height: 24px;
    color: #0052C3;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-022 {
    display: flex;
    align-items: center;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-022 > .c-unit-022-A {
    background: #37C245;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50%;
  }
  .section-06 > .c-wrapper > .c-unit-02 .c-unit-022 > .c-unit-022-B {
    font-weight: 400;
    font-size: 1em;
    line-height: 20px;
    color: #777D96;
  }
}

/*# sourceMappingURL=06.css.map */
