/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .section-07 {
    padding: 40px 0 206px 0;
    background: #F7F2DE;
  }
  .section-07 > .c-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section-07 > .c-wrapper .c-container-01 {
    position: sticky;
    top: 0;
  }
  .section-07 > .c-wrapper .c-container-01 > .c-item-01 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 39px;
    width: 369px;
    height: 208.58px;
    text-transform: uppercase;
  }
  .section-07 > .c-wrapper .c-container-01 > .c-item-01 > svg {
    margin-left: 44px;
  }
  .section-07 > .c-wrapper .c-container-01 > .c-item-02 {
    font-weight: 900;
    font-size: 37px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  .section-07 > .c-wrapper .c-container {
    overflow: hidden;
  }
  .section-07 > .c-wrapper .c-container .c-container-02 {
    width: 100vw;
  }
  .section-07 > .c-wrapper .c-container .c-container-02 .c-item-01 {
    height: 520px;
    margin-bottom: 672px;
    width: 72%;
  }
  .section-07 > .c-wrapper .c-container .c-container-02 .c-item-03 {
    height: 478.99px;
    width: 78%;
  }
  .section-07 > .c-wrapper .c-container .c-container-02 .c-item-03 .c-unit-02 {
    display: none;
  }
  .section-07 > .c-wrapper .c-container .c-container-02 .c-item-03 .c-unit-03 {
    position: absolute;
    right: -39%;
    bottom: -28%;
  }
  .section-07 > .c-wrapper .c-container .c-container-02 .c-item-03 .c-unit-03 > svg {
    height: 298px;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 {
    margin-top: -1106px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-02 {
    height: 520px;
    margin-bottom: 743px;
    width: 80%;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-02 .c-unit-02 {
    display: none;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-02 .c-unit-03 {
    position: absolute;
    bottom: -45%;
    left: -36%;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-04 {
    height: 520px;
    width: 89%;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-04 .c-unit-02 {
    position: absolute;
    bottom: -105px;
    left: -71px;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-04 .c-unit-02 > svg {
    max-width: 350px;
  }
}
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-07 {
    padding: 207px 0 120px 0;
    background: #F7F2DE;
  }
  .section-07 > .c-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1600px;
  }
  .section-07 > .c-wrapper .c-container-01 {
    position: sticky;
    top: 145px;
  }
  .section-07 > .c-wrapper .c-container-01 > .c-item-01 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 39px;
  }
  .section-07 > .c-wrapper .c-container-01 > .c-item-01 > svg {
    margin-left: 85px;
  }
  .section-07 > .c-wrapper .c-container-01 > .c-item-02 {
    width: 645px;
    font-weight: 900;
    font-size: 58px;
    line-height: 70px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
  }
  .section-07 > .c-wrapper .c-container {
    display: flex;
  }
  .section-07 > .c-wrapper .c-container .c-container-02 {
    width: 100%;
  }
  .section-07 > .c-wrapper .c-container .c-container-02 .c-item-01 {
    width: 520px;
    height: 520px;
    margin-bottom: 129px;
  }
  .section-07 > .c-wrapper .c-container .c-container-02 .c-item-03 {
    width: 520px;
    height: 520px;
    margin-left: 251px;
  }
  .section-07 > .c-wrapper .c-container .c-container-02 .c-item-03 .c-unit-01 {
    width: 520px;
    height: 520px;
  }
  .section-07 > .c-wrapper .c-container .c-container-02 .c-item-03 .c-unit-02 {
    position: absolute;
    left: -161px;
    bottom: -263px;
  }
  .section-07 > .c-wrapper .c-container .c-container-02 .c-item-03 .c-unit-03 {
    display: none;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    margin-top: 293px;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-02 {
    width: 520px;
    height: 737px;
    margin-bottom: 204px;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-02 .c-unit-01 {
    width: 520px;
    height: 737px;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-02 .c-unit-02 {
    position: absolute;
    right: 367px;
    bottom: -205px;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-02 .c-unit-03 {
    display: none;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-04 {
    overflow: hidden;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-04 .c-unit-01 {
    width: 666px;
    height: 520px;
  }
  .section-07 > .c-wrapper .c-container .c-container-03 .c-item-04 .c-unit-02 {
    position: absolute;
    right: -174px;
    bottom: 3px;
  }
}
@media all and (min-width: 768px) and (max-width: 1249px) {
  .section-07 > .c-wrapper {
    width: 704px;
  }
}

/*# sourceMappingURL=07.css.map */
