/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .section-09 {
    padding: 54px 0 80px 0;
  }
  .section-09 > .c-item {
    position: absolute;
    top: 0;
    left: 0;
    background: #E60000;
  }
  .section-09 > .c-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section-09 > .c-wrapper .c-container-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-01 {
    margin-bottom: 13px;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-01 > svg {
    width: 294.09px;
    height: 69px;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-02 {
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-03 {
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFADAD;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-04 {
    margin-bottom: 20px;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-04 > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 16px 21px 16px 40px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #E60000;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-04 > a > svg {
    margin-left: 28px;
  }
  .section-09 > .c-wrapper .c-container-02 {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-09 > .c-wrapper .c-container-02 .c-item-01 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-09 {
    padding: 205px 0 121px 0;
  }
  .section-09 > .c-item {
    position: absolute;
    top: 0;
    left: 0;
    background: #E60000;
  }
  .section-09 > .c-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section-09 > .c-wrapper .c-container-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-01 {
    margin-bottom: 13px;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-02 {
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-03 {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFADAD;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-04 {
    margin-bottom: 20px;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-04 > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 16px 21px 16px 40px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #E60000;
  }
  .section-09 > .c-wrapper .c-container-01 > .c-item-04 > a > svg {
    margin-left: 28px;
  }
  .section-09 > .c-wrapper .c-container-02 {
    width: 759px;
    height: 579px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-09 > .c-wrapper .c-container-02 .c-item-02 {
    position: absolute;
    top: 0;
    width: 759px;
    height: 579px;
  }
}

/*# sourceMappingURL=09.css.map */
