@import "../Base/Colour.scss";
@import "../Base/Global.scss";

/* Common xs1, xs2 */
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {

    .comp-footer-01 {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        > .c-wrapper {
            width: 100%;

            > .c-container-01 {
                height: 121px;
                display: flex;
                align-items: center;
                border-top: 1px solid #d9d9d938;

                > .c-item-01 {
                    padding: 0 12px 0 23px;

                    &::after {
                        content: "";
                        width: 1px;
                        height: 120px;
                        position: absolute;
                        right: 0;
                        top: -49px;
                        bottom: 0;
                        background-color: #d9d9d938;
                    }

                    > a {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:not(:last-child) {
                            margin-right: 15px;
                        }
                    }
                }

                > .c-item-01-B {
                    padding: 0 12px 0 23px;

                    &::after {
                        content: "";
                        width: 1px;
                        height: 120px;
                        position: absolute;
                        right: 0;
                        top: -49px;
                        bottom: 0;
                        background-color: #88888838;
                    }

                    > a {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:not(:last-child) {
                            margin-right: 15px;
                        }
                    }
                }

                > #scroll-animation {
                    width: 100%;
                    align-items: center;
                    display: flex;
                    overflow: hidden;

                    .scroll-animation_area {

                        .scroll-animation_area__ {
                            transition: all 1s ease;

                            > .c-unit-01 {
                                display: flex;
                                white-space: nowrap;
                                overflow: hidden;
                                font-weight: 600;
                                font-size: 1.9333333333em;
                                line-height: 53px;
                                color: #FFFFFF;

                                > .scroll-01 {
                                    display: flex;
                                    align-items: center;
                                    animation: marquee 20s linear infinite;
                                    transform: translateX(calc(100vw - 140px));

                                    > span {
                                        margin: 0 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Common sm, md, lg */
@media all and (min-width: #{$mq-sm1 + "px"}) {
    .comp-footer-01 {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        > .c-wrapper {
            width: 100%;

            > .c-container-01 {
                height: 121px;
                display: flex;
                align-items: center;
                border-top: 1px solid #d9d9d938;

                > .c-item-01 {
                    padding: 0 12px 0 23px;

                    &::after {
                        content: "";
                        width: 1px;
                        height: 120px;
                        position: absolute;
                        right: 0;
                        top: -49px;
                        bottom: 0;
                        background-color: #d9d9d938;
                    }

                    > a {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:not(:last-child) {
                            margin-right: 15px;
                        }
                    }
                }

                > .c-item-01-B {
                    padding: 0 12px 0 23px;

                    &::after {
                        content: "";
                        width: 1px;
                        height: 120px;
                        position: absolute;
                        right: 0;
                        top: -49px;
                        bottom: 0;
                        background-color: #88888838;
                    }

                    > a {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:not(:last-child) {
                            margin-right: 15px;
                        }
                    }
                }

                > #scroll-animation {
                    width: 100%;
                    align-items: center;
                    display: flex;
                    overflow: hidden;

                    .scroll-animation_area {

                        .scroll-animation_area__ {
                            transition: all 1s ease;

                            > .c-unit-01 {
                                display: flex;
                                white-space: nowrap;
                                overflow: hidden;
                                font-weight: 600;
                                font-size: 2.933333333333333em;
                                line-height: 53px;
                                color: #FFFFFF;

                                > .scroll-01 {
                                    animation: marquee 35s linear infinite;
                                    transform: translateX(calc(100vw - 140px));
                                    display: flex;
                                    align-items: center;

                                    > span {
                                        margin: 0 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
}

@media all and (min-width: #{$mq-sm1 + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
   
}
@keyframes marquee {
    to {
        transform: translateX(-100%);
    }
}