
//Corporate Dark Blue
$color-darkblue-950: #071A31;
$color-darkblue-900: #0A2240;
$color-darkblue-800: #0E3258;
$color-darkblue-700: #133C65;
$color-darkblue-600: #1C456F;
$color-darkblue-500: #234C77;
$color-darkblue-400: #486488;
$color-darkblue-300: #687F9B;
$color-darkblue-200: #91A2B7;
$color-darkblue-100: #BCC6D4;
$color-darkblue-050: #E5E8ED;
$color-darkblue-025: #F9F9FB;

//Corporate Red
$color-red-950: #A1000D;
$color-red-900: #BE000F;
$color-red-800: #CB001D;
$color-red-700: #D80025;
$color-red-600: #EA002B;
$color-red-500: #F9192B;
$color-red-400: #F43B48;
$color-red-300: #EA656C;
$color-red-200: #F39296;
$color-red-100: #FFC9D0;
$color-red-050: #FFE9ED;
$color-red-025: #FFF6F8;

// BW Shades

$color-bw-900: #0E1012;
$color-bw-800: #2E3032;
$color-bw-700: #4C4E50;
$color-bw-600: #5F6163;
$color-bw-500: #86888A;
$color-bw-400: #A7A9AB;
$color-bw-300: #CCCED0;
$color-bw-200: #DFE1E3;
$color-bw-100: #EBEDF0;
$color-bw-050: #F5F7F9;
$color-bw-000: #fff;

// System Red
$color-systemred-900: #AB2521;
$color-systemred-800: #BB2E2B;
$color-systemred-700: #C83532;
$color-systemred-600: #DA3E38;
$color-systemred-500: #E9473A;
$color-systemred-400: #E55552;
$color-systemred-300: #DC7474;
$color-systemred-200: #E89A9A;
$color-systemred-100: #FBCDD1;
$color-systemred-050: #FDEBEE;

// System Orange
$color-systemorange-900: #FB7E36;
$color-systemorange-800: #FF993A;
$color-systemorange-700: #FFA93D;
$color-systemorange-600: #FFBB40;
$color-systemorange-500: #FFC845;
$color-systemorange-400: #FFD04F;
$color-systemorange-300: #FFDA68;
$color-systemorange-200: #FFE391;
$color-systemorange-100: #FFEEBB;
$color-systemorange-050: #FFF9E4;

// System Green
$color-systemgreen-900: #2D5E2F;
$color-systemgreen-800: #3D7D40;
$color-systemgreen-700: #468E4A;
$color-systemgreen-600: #51A055;
$color-systemgreen-500: #5AAF5F;
$color-systemgreen-400: #70BB76;
$color-systemgreen-300: #89C78D;
$color-systemgreen-200: #AAD6AD;
$color-systemgreen-100: #CBE6CD;
$color-systemgreen-050: #E9F5EB;
