html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
}
body.noscroll {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

#content-wrapper {
  z-index: 0;
}

#overlay-wrapper {
  display: block;
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(34, 31, 68, 0.24);
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;
}
#overlay-wrapper.on {
  visibility: visible;
  opacity: 1;
}

.c-wrapper {
  margin: 0 auto 0 auto;
}

.no-header header {
  display: none;
}

.no-menu #menu-primary,
.no-menu #hamburger-menu-wrapper {
  display: none;
}

.no-footer footer {
  display: none;
}

.scroll-type-01::-webkit-scrollbar {
  height: 4px;
  border-radius: 100px;
}
.scroll-type-01::-webkit-scrollbar-track {
  background: #ECEAFA;
}
.scroll-type-01::-webkit-scrollbar-thumb {
  /* Handle */
  background: #BCD9FF;
}
.scroll-type-01::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
}

.scroll-type-02::-webkit-scrollbar {
  width: 4px;
  border-radius: 100px;
}
.scroll-type-02::-webkit-scrollbar-track {
  background: #ECEAFA;
}
.scroll-type-02::-webkit-scrollbar-thumb {
  /* Handle */
  background: #BCD9FF;
}
.scroll-type-02::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
}

#page-wrapper.menu-on {
  z-index: 101;
}

img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

picture {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/* Common XS1 and XS2 */
@media all and (max-width: 767px) {
  body .comp-footer-01 {
    display: block;
  }
  body .comp-footer-01 .c-container-01 .c-item-01 {
    display: flex;
  }
  body .comp-footer-01 .c-container-01 .c-item-01-B {
    display: none;
  }
  body .comp-footer-01 .c-unit-01-01 {
    display: block;
  }
  body .comp-footer-01 .c-unit-01-02 {
    display: none;
  }
  body .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-A {
    display: block;
  }
  body .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-B {
    display: none;
  }
  body .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-A {
    display: block;
  }
  body .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-B {
    display: none;
  }
  body .comp-header-01 #activity-container > .menu-activities #menu-language > .c-unit-01 {
    display: block;
  }
  body .comp-header-01 #activity-container > .menu-activities #menu-language > .c-unit-02 {
    display: none;
  }
  body .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-A {
    display: block;
  }
  body .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-B {
    display: none;
  }
  body.f-scrolled-02 .comp-header-01 {
    background: #E60000;
  }
  body.f-scrolled-02 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-A {
    display: block;
  }
  body.f-scrolled-02 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-B {
    display: none;
  }
  body.f-scrolled-02 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-A {
    display: block;
  }
  body.f-scrolled-02 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-B {
    display: none;
  }
  body.f-scrolled-02 .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-A {
    display: none;
  }
  body.f-scrolled-02 .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-B {
    display: block;
  }
  body.f-scrolled-03 .comp-header-01 {
    background: #111;
  }
  body.f-scrolled-03 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-A {
    display: block;
  }
  body.f-scrolled-03 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-B {
    display: none;
  }
  body.f-scrolled-03 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-A {
    display: block;
  }
  body.f-scrolled-03 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-B {
    display: none;
  }
  body.f-scrolled-04 .comp-header-01 {
    background: #FFF;
  }
  body.f-scrolled-04 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-A {
    display: none;
  }
  body.f-scrolled-04 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-B {
    display: block;
  }
  body.f-scrolled-04 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-A {
    display: none;
  }
  body.f-scrolled-04 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-B {
    display: block;
  }
  body.f-scrolled-04 .comp-header-01 #activity-container > .menu-activities #menu-language {
    color: #E60000;
  }
  body.f-scrolled-04 .comp-header-01 #activity-container > .menu-activities #menu-language > .c-unit-01 {
    display: none;
  }
  body.f-scrolled-04 .comp-header-01 #activity-container > .menu-activities #menu-language > .c-unit-02 {
    display: block;
  }
  body.f-scrolled-04 .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-01 {
    color: #E60000;
  }
  body.f-scrolled-mobile .comp-footer-01 {
    display: none;
  }
  body.f-scrolled-mobile .comp-footer-01 .c-container-01 .c-item-01 {
    display: flex;
  }
  body.f-scrolled-mobile .comp-footer-01 .c-container-01 .c-item-01-B {
    display: none;
  }
  body.f-scrolled-mobile .comp-footer-01 .c-unit-01-01 {
    display: block;
  }
  body.f-scrolled-mobile .comp-footer-01 .c-unit-01-02 {
    display: none;
  }
  body.about-us .comp-footer-01 {
    display: none;
  }
  body.contact .comp-footer-01 {
    display: none;
  }
  body.where-we-are-body .comp-footer-01 {
    display: none;
  }
}
/* XS1 */
@media all and (max-width: 419px) {
  .c-wrapper {
    width: calc(100% - 40px);
  }
}
/* XS2 */
@media all and (min-width: 420px) and (max-width: 767px) {
  .c-wrapper {
    width: calc(100% - 40px);
  }
}
/* Common SM1 and SM2 */
@media all and (min-width: 768px) and (max-width: 1249px) {
  body {
    zoom: 0.57;
  }
  body .section-01 {
    height: 175vh;
  }
  body #homePageSliderArea {
    width: 173vw;
  }
  body .section-10 {
    height: 175vh;
  }
  body .section-10 .c-wrapper {
    height: 100%;
  }

  body .comp-footer-01 {
    display: block;
  }
  body .comp-footer-01 .c-unit-01-01 {
    display: block;
  }
  body .comp-footer-01 .c-unit-01-02 {
    display: none;
  }
  body .comp-footer-01 .c-container-01 .c-item-01 {
    display: flex;
  }
  body .comp-footer-01 .c-container-01 .c-item-01-B {
    display: none;
  }
  body .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-A {
    display: block;
  }
  body .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-B {
    display: none;
  }
  body .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-A {
    display: block;
  }
  body .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-B {
    display: none;
  }
  body .comp-header-01 #activity-container > .menu-activities #menu-language > .c-unit-01 {
    display: block;
  }
  body .comp-header-01 #activity-container > .menu-activities #menu-language > .c-unit-02 {
    display: none;
  }
  body .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-A {
    display: block;
  }
  body .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-B {
    display: none;
  }
  body.f-scrolled-02 .comp-footer-01 {
    background: #E60000;
    display: block;
  }
  body.f-scrolled-02 .comp-footer-01 .c-unit-01-01 {
    display: none;
  }
  body.f-scrolled-02 .comp-footer-01 .c-unit-01-02 {
    display: block;
  }
  body.f-scrolled-02 .comp-header-01 {
    background: #E60000;
  }
  body.f-scrolled-02 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-A {
    display: block;
  }
  body.f-scrolled-02 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-B {
    display: none;
  }
  body.f-scrolled-02 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-A {
    display: block;
  }
  body.f-scrolled-02 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-B {
    display: none;
  }
  body.f-scrolled-02 .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-A {
    display: none;
  }
  body.f-scrolled-02 .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-B {
    display: block;
  }
  body.f-scrolled-03 .comp-footer-01 {
    display: block;
    background: #111;
  }
  body.f-scrolled-03 .comp-header-01 {
    background: #111;
  }
  body.f-scrolled-03 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-A {
    display: block;
  }
  body.f-scrolled-03 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-B {
    display: none;
  }
  body.f-scrolled-03 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-A {
    display: block;
  }
  body.f-scrolled-03 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-B {
    display: none;
  }
  body.f-scrolled-04 .comp-footer-01 {
    background: #FFF;
  }
  body.f-scrolled-04 .comp-footer-01 .scroll-animation_area__ > .c-unit-01 .scroll-01 {
    color: #000000;
  }
  body.f-scrolled-04 .comp-footer-01 .c-container-01 .c-item-01 {
    display: none;
  }
  body.f-scrolled-04 .comp-footer-01 .c-container-01 .c-item-01-B {
    display: flex;
  }
  body.f-scrolled-04 .comp-header-01 {
    background: #FFF;
  }
  body.f-scrolled-04 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-A {
    display: none;
  }
  body.f-scrolled-04 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-B {
    display: block;
  }
  body.f-scrolled-04 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-A {
    display: none;
  }
  body.f-scrolled-04 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-B {
    display: block;
  }
  body.f-scrolled-04 .comp-header-01 #activity-container > .menu-activities #menu-language {
    color: #E60000;
  }
  body.f-scrolled-04 .comp-header-01 #activity-container > .menu-activities #menu-language > .c-unit-01 {
    display: none;
  }
  body.f-scrolled-04 .comp-header-01 #activity-container > .menu-activities #menu-language > .c-unit-02 {
    display: block;
  }
  body.f-scrolled-04 .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-01 {
    color: #E60000;
  }

  .overlay-wrapper-style {
    backdrop-filter: unset !important;
    height: unset !important;
    top: 0 !important;
  }

  #overlay-wrapper {
    display: none;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(34, 31, 68, 0.24);
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s 0s;
  }
  #overlay-wrapper.on {
    display: none;
    visibility: visible;
    opacity: 0;
    transition: visibility 0s 0s, opacity 0.3s 0.05s;
  }
}
/* SM1 */
@media all and (min-width: 768px) and (max-width: 1023px) {
  .c-wrapper {
    width: 1230px;
  }
}
/* SM2 */
@media all and (min-width: 1024px) and (max-width: 1249px) {
  .c-wrapper {
    width: 1230px;
  }
}
/* Common MD and LG */
@media all and (min-width: 1250px) {
  body .comp-footer-01 {
    display: block;
  }
  body .comp-footer-01 .c-unit-01-01 {
    display: block;
  }
  body .comp-footer-01 .c-unit-01-02 {
    display: none;
  }
  body .comp-footer-01 .c-container-01 .c-item-01 {
    display: flex;
  }
  body .comp-footer-01 .c-container-01 .c-item-01-B {
    display: none;
  }
  body .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-A {
    display: block;
  }
  body .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-B {
    display: none;
  }
  body .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-A {
    display: block;
  }
  body .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-B {
    display: none;
  }
  body .comp-header-01 #activity-container > .menu-activities #menu-language > .c-unit-01 {
    display: block;
  }
  body .comp-header-01 #activity-container > .menu-activities #menu-language > .c-unit-02 {
    display: none;
  }
  body .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-A {
    display: block;
  }
  body .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-B {
    display: none;
  }
  body.f-scrolled-02 .comp-footer-01 {
    display: none;
    background: #E60000;
    display: block;
  }
  body.f-scrolled-02 .comp-footer-01 .c-unit-01-01 {
    display: none;
  }
  body.f-scrolled-02 .comp-footer-01 .c-unit-01-02 {
    display: block;
  }
  body.f-scrolled-02 .comp-header-01 {
    background: #E60000;
  }
  body.f-scrolled-02 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-A {
    display: block;
  }
  body.f-scrolled-02 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-B {
    display: none;
  }
  body.f-scrolled-02 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-A {
    display: block;
  }
  body.f-scrolled-02 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-B {
    display: none;
  }
  body.f-scrolled-02 .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-A {
    display: none;
  }
  body.f-scrolled-02 .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-B {
    display: block;
  }
  body.f-scrolled-03 .comp-footer-01 {
    display: none;
    background: #111;
  }
  body.f-scrolled-03 .comp-header-01 {
    background: #111;
  }
  body.f-scrolled-03 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-A {
    display: block;
  }
  body.f-scrolled-03 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-B {
    display: none;
  }
  body.f-scrolled-03 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-A {
    display: block;
  }
  body.f-scrolled-03 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-B {
    display: none;
  }
  body.f-scrolled-04 .comp-footer-01 {
    background: #FFF;
    display: none;
  }
  body.f-scrolled-04 .comp-footer-01 .scroll-animation_area__ > .c-unit-01 .scroll-01 {
    color: #000000;
  }
  body.f-scrolled-04 .comp-footer-01 .c-container-01 .c-item-01 {
    display: none;
  }
  body.f-scrolled-04 .comp-footer-01 .c-container-01 .c-item-01-B {
    display: flex;
  }
  body.f-scrolled-04.f-scrolled-09 .comp-footer-01 {
    display: none;
  }
  body.f-scrolled-04 .comp-header-01 {
    background: #FFF;
  }
  body.f-scrolled-04 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-A {
    display: none;
  }
  body.f-scrolled-04 .comp-header-01 #site-logo > .c-item-01 > .c-unit-01 > .c-unit-01-B {
    display: block;
  }
  body.f-scrolled-04 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-A {
    display: none;
  }
  body.f-scrolled-04 .comp-header-01 #site-logo > .c-item-01 > .c-unit-02 > .c-unit-01-B {
    display: block;
  }
  body.f-scrolled-04 .comp-header-01 #activity-container > .menu-activities #menu-language {
    color: #E60000;
  }
  body.f-scrolled-04 .comp-header-01 #activity-container > .menu-activities #menu-language > .c-unit-01 {
    display: none;
  }
  body.f-scrolled-04 .comp-header-01 #activity-container > .menu-activities #menu-language > .c-unit-02 {
    display: block;
  }
  body.f-scrolled-04 .comp-header-01 #activity-container > .menu-activities .c-item-02 .c-unit-01 {
    color: #E60000;
  }
  body.about-us .comp-footer-01 {
    background: #FFF;
    display: block !important;
    display: none;
  }
  body.about-us .comp-footer-01 .scroll-animation_area__ > .c-unit-01 .scroll-01 {
    color: #000000;
  }
  body.about-us .comp-footer-01 .c-container-01 .c-item-01 {
    display: none;
  }
  body.about-us .comp-footer-01 .c-container-01 .c-item-01-B {
    display: flex;
  }
  body.about-us .comp-footer-01 .c-unit-01-01 {
    display: none;
  }
  body.about-us .comp-footer-01 .c-unit-01-02 {
    display: block;
  }
  body.contact .comp-footer-01 {
    display: none;
  }
  body.where-we-are-body .comp-footer-01 {
    display: none;
  }
}
/* MD */
@media all and (min-width: 1250px) and (max-width: 1679px) {
  body {
    zoom: 0.861;
  }
  body .section-01 {
    height: 117vh;
  }
  body .section-07 > .c-wrapper {
    width: 1230px;
  }
  body .section-10 {
    height: 117vh;
  }
  body .section-10 .c-wrapper {
    height: 100%;
  }

  .c-wrapper {
    width: 1230px;
  }
}
/* LG */
@media all and (min-width: 1680px) {
  .c-wrapper {
    width: 1230px;
  }
}

/*# sourceMappingURL=Structure.css.map */
